@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --light-grey: #f1f0f6;
  --grey2: #666666e1;
  --light-dark: #666;
  --dark-grey: #4d4d4d;
  --dark: #1f1f1f;
  --light: #fff;
  --grid: #f0f0f0;
  --primary: #ffc40c;
  --primary-fade: #ffc40c;
  --primary-fade2: #ffc20c11;
  --light-green: rgb(218, 238, 218);
  --green: rgb(85, 148, 85);
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;

  transition: all 0.2s linear;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section.categories,
section.account,
section.cart,
section.order,
section.list,
section.order-summary,
section.order-detail {
  background-image: url("/images/bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  margin-top: 15%;
}

.heading {
  text-align: start;
  color: var(--black);
  font-size: 4rem;
  padding: 0 1rem 2rem 1rem;
  margin-top: 15%;
  /* text-transform: uppercase; */
}

.title {
  text-align: start;
  color: var(--black);
  font-size: 4rem;
  padding-bottom: 1rem;
  margin-top: 10%;
  /* text-transform: uppercase; */
}

.btn,
.btn1,
.btn2,
.btn3 {
  /* height: 2rem; */
  /* width: 100%; */
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn {
  /* height: 100%; */
  width: 100%;
  background: var(--primary);
  color: var(--light);
  border: 0.1rem solid var(--primary);
}

.btn1 {
  /* height: 100%; */
  width: 100%;
  background: var(--dark);
  color: var(--light);
  border: 0.1rem solid var(--dark);
}

.btn2 {
  height: 100%;
  width: 100%;
  background: var(--light);
  color: var(--dark);
  border: 0.1rem solid var(--dark);
}

.btn3 {
  height: 100%;
  width: 100%;
  background: var(--grid);
  color: var(--dark);
  /* border: 0.1rem solid var(--dark); */
}

.btn:hover {
  background: var(--light);
  color: var(--primary);
  border: 0.1rem solid var(--primary);
}

.btn1:hover {
  background: var(--light);
  color: var(--dark);
  border: 0.1rem solid var(--dark);
}

.btn2:hover {
  background: var(--dark);
  color: var(--light);
  border: 0.1rem solid var(--dark);
}

.line {
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 1rem 2.5rem;
  border: 0.1rem solid var(--primary-fade);
}

/* ===========================================navigation bar */

header.home,
header.account,
header.cart,
header.order,
header.list,
header.food-detail,
header.order-detail,
header.order-summary {
  position: absolute;
  top: 0;
  left: 1;
  right: 0;
  /* background: var(--light); */
  padding: 1rem 7%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  /* box-shadow: var(--box-shadow); */
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--green);
}

header a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: var(--black);
  margin-left: 1rem;
}

header a.active,
header a:hover {
  color: var(--primary);
  background: var(--light);
}

header .icons i,
header .icons a {
  cursor: pointer;
  height: 5rem;
  line-height: 4.5rem;
  width: 5rem;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 0.3rem;
  color: var(--black);
  border-radius: 50%;
  background: var(--primary);
}

header .icons i:hover {
  color: var(--primary);
  background: var(--light);
  transform: rotate(360deg);
}

header .icons .bxs-user {
  margin-left: 0 !important;
}

header .icons #menu-bars {
  display: none;
}

/* list */
header.account,
header.list,
header.food-detail,
header.order-detail,
header.order-summary,
header.cart,
header.order {
  left: 0;
  padding: 1rem 5%;
}

/* dropdown */

.dropdown {
  display: none;
}

.dropdown.active {
  display: contents;
  transition: all 0.5s;
}

.dropdown .sub-menu {
  padding: 0.5rem;
  background: var(--light);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  /* margin-top: 1rem; */
}
.sub-menu .drp-link {
  padding: 0 0.55rem 0.2rem 0.55rem;
  display: flex;
  text-decoration: none;
  background: none !important;
  box-shadow: none !important;
  margin: 0.5rem 0 !important;
  border: none;
}

.sub-menu .drp-link p {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.sub-menu .logout-btn p {
  /* margin-left: 0.5rem; */
  margin-bottom: 0.5rem;
}

.sub-menu .drp-link p:hover {
  color: var(--primary);
}

/* ===========================================categories */

.categories .box-container,
.list .box-container {
  padding: 0 1rem 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1.5rem;
}

.categories .box-container .box,
.list .box-container .box {
  padding: 2.5rem;
  background: var(--light);
  border-radius: 0.9rem;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.2); */
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

/* .categories .box-container .box .fa-heart,
.categories .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: var(--grey);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}

.categories .box-container .box .fa-heart:hover,
.categories .box-container .box .fa-eye:hover {
  background: var(--green);
  color: var(--light);
} */

/* .categories .box-container .box .fa-heart {
  right: -15rem;
}

.categories .box-container .box .fa-eye {
  left: -15rem;
}

.categories .box-container .box:hover .fa-heart {
  right: 1.5rem;
}

.categories .box-container .box:hover .fa-eye {
  left: 1.5rem;
} */

.categories .box-container .box img {
  width: 100%;
  height: 17rem;
  /* margin: 1rem 0; */
  margin-bottom: 1rem;
  padding: 5rem 10rem;
  background: var(--primary-fade);
  border-radius: 1rem;
}

.categories .box-container .box h3 {
  color: var(--dark);
  font-size: 2.5rem;
}

/* .categories .box-container .box .stars {
  padding: 1rem 0;
}

.categories .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--green);
} */

/* .categories .box-container .box span {
  color: var(--primary);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
} */
/* ============================================ order */
.order .box-container {
  padding: 0 1rem;
}

/* ============================================ list */

.list .box-container .box img {
  width: 100%;
  height: 17rem;
  /* margin: 1rem 0; */
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.list .box-container .box p {
  display: flex;
  font-weight: bold;
  margin-right: 1rem;
  font-size: 2.5rem;
  justify-content: space-between;
}

.list .box-container .box span {
  color: var(--primary);
  font-weight: bolder;
  font-size: 2.5rem;
  align-items: end;
}

.list .box-container .box h3 {
  color: var(--dark);
  font-size: 2.7rem;
  text-align: start;
}

/* ============================================ food-detail */

.food-detail {
  padding: 0;
  margin: 0;
  /* min-height: 100vh; */
}

.food-detail .image img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.food-detail .item-info {
  padding: 2.5rem;
}

.food-detail .item-info .heading {
  padding: 0;
  margin: 3rem 0;
  color: var(--dark);
  font-size: 2.9rem;
  display: flex;
}

.food-detail .item-info h6 {
  display: flex;
  font-weight: 500;
  font-size: 2.7rem;
  margin: 1.5rem 0;
  justify-content: space-between;
}

.food-detail .item-info span {
  color: var(--primary);
  font-weight: bolder;
  font-size: 2.7rem;
  align-items: end;
}

.food-detail .item-info .des-content {
  max-height: 35rem;
  /* margin-bottom: 2rem; */
}

.food-detail .item-info p {
  color: var(--light-dark);
  font-size: 2rem;
}

.total-container {
  display: flex;
  flex-direction: column;
  /* background: var(--primary-fade2); */
  max-height: 100vh;
  padding-bottom: min(10%, 100%);
}

.quantity-detail,
.total-detail {
  display: flex;
  align-items: center;
  padding: 2rem 2.5rem;
}

/* .total-detail {
  padding: 2.5rem;
} */

.quantity-head,
.total-head {
  margin-right: auto;
  font-weight: 500;
  font-size: 2.7rem;
}

.quantity-detail i {
  font-size: 3.5rem;
  align-items: end;
  cursor: pointer;
  color: var(--primary);
}

.quantity-detail span,
.total-detail span {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 1.5rem;
  align-items: end;
  cursor: pointer;
}

.total-detail #totalPrice {
  margin: 0;
}

.total-container .btn-field {
  margin: 0 2.5rem;
}

.total-container .btn-field .btn {
  padding: 1.5rem 0;
}

/* ============================================  order-detail */
.order-detail .content {
  padding: 0 1rem 2rem 1rem;
}
.order-detail .shipping-info,
.order-detail .address-info,
.order-detail .method-info {
  margin-bottom: 2rem;
}

.order-detail h6,
.cart .content h6 {
  font-weight: 500;
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.cart .content h6 {
  margin: 1rem 0;
}

.order-detail p,
.cart .content p {
  font-size: 2rem;
  color: var(--light-dark);
}

.order-detail .highlight {
  font-weight: 500;
  color: var(--primary);
}

.order-detail .line {
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 0.1rem solid var(--primary-fade);
}

.item-wrapper {
  height: 220px;
  width: 100%;
  overflow-y: scroll;
  margin: 2.5rem 0;
  background: var(--primary-fade2);
}

.order-detail .card {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  padding: 2rem;
  gap: 1rem;
  justify-content: space-around;
  align-items: flex-start;
}

.order-detail .image {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.order-detail .detail {
  width: 100%;
}

.order-detail .detail .name {
  font-weight: 500;
}

.order-total .subtotal-detail,
.order-total .delivery-detail,
.order-total .total-detail {
  display: flex;
  align-items: center;
}

.order-detail .total-detail,
.cart .total-detail {
  padding: 0;
}

.order-total .subtotal-head,
.order-total .delivery-head,
.order-total .total-head,
.cart .content h6 {
  margin-right: auto;
  font-weight: 500;
  font-size: 2.5rem;
}

.order-detail .total-detail #totalPrice,
.cart .content .total-detail #totalPrice {
  font-weight: bold;
  font-size: 2.7rem;
  color: var(--primary);
}

.order-total .btn-field .btn {
  padding: 1.5rem 0;
}

.order-detail .fa-times {
  margin: 0 1rem;
}

/* ============================================ order list */

.order .row-container,
.cart .row-container {
  display: grid;
  padding: 0 1rem 4rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1rem;
}

.order .row-container .row,
.cart .row-container .row {
  padding: 2rem;
  background: var(--light);
  border-radius: 0.9rem;
  /* border: 0.1rem solid rgba(0, 0, 0, 0.2); */
  box-shadow: var(--box-shadow);

  justify-content: space-around;
  align-items: flex-start;
}

.order .row-container .row a {
  text-decoration: none;
}

.order .total-detail {
  padding: 0;
  margin: 1.5rem 0 0 0;
}

.order .detail,
.order .total-detail {
  display: flex;
  align-items: center;
}

.order .detail {
  margin-bottom: 0.5rem;
}

.order .name,
.order .total-head {
  margin-right: auto;
  font-weight: 500;
  font-size: 2rem;
  color: var(--dark);
}

.order .name,
.order p {
  font-size: 1.5rem;
  color: var(--dark);
}

.order .total-detail #totalPrice {
  font-weight: bold;
  font-size: 2rem;
  color: var(--primary);
}

.order .fa-times {
  margin: 0 1rem;
}

/* ============================================ cart */

.row-wrapper {
  height: 50vh;
  width: 100%;
  overflow-y: scroll;
}

.cart .row-container .row .card {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0;
  gap: 1rem;
  justify-content: space-around;
  align-items: flex-start;
}

.cart .quantity-detail,
.cart .buttons-container {
  display: flex;
  padding: 0;
  align-items: center;
}

.cart .quantity-detail i {
  font-size: 2.7rem;
  cursor: pointer;
  color: var(--primary);
}

.cart .quantity-detail .fa-equals {
  color: var(--dark);
  font-size: 2.3rem;
  margin: 0 auto;
}

.cart .name {
  font-size: 2rem;
  color: var(--dark);
}

.cart .detail #price {
  font-weight: 600;
  font-size: 2rem;
  margin: 0 auto 0 0;
}

.cart .detail .btn5 {
  margin-left: 1.5rem;
}

.cart .detail #removeBtn {
  margin: 0 0 0 auto;
}

.cart .detail #removeBtn,
.cart .detail #addBtn {
  background: none;
  text-decoration: none;
}

.cart .detail #removeBtn {
  color: var(--grey2);
}

.cart .detail #addBtn {
  color: var(--primary);
}
.cart .detail #totalPrice {
  font-weight: 600;
  font-size: 2rem;
  background: var(--primary-fade);
  margin: 0;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.cart .detail #quantity {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0.8rem;
}

.cart .image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.cart .content {
  padding: 2rem;
  border-radius: 0.6rem;
  background: var(--primary-fade2);
  box-shadow: var(--box-shadow);
}
.cart .content .title {
  font-weight: bold;
  margin: 1.5rem 0;
}

.cart .content .btn a {
  text-decoration: none;
  color: var(--light);
}

/* ============================================ intro */
.intro {
  padding: 0 9%;
}

.intro .container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 3rem 1rem; */
}

.intro .container .content {
  text-align: center;
}

.intro .container .content .image {
  height: 100%;
  width: 100%;
}

.intro .container .content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro .container .content h3 {
  font-size: 3rem;
}

.intro .container .content p {
  font-size: 1.2rem;
  color: var(--light-dark);
  margin: 2rem 0;
}

/* ============================================ login */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 100%;
  width: 100%;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.form header {
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--dark-grey);
  align-items: center !important;
  justify-content: center !important;
}

form {
  margin-top: 2rem;
}

form .field {
  position: relative;
  height: 5rem;
  width: 100%;
  margin-top: 1rem;
}

.field input,
.field button,
.field select {
  height: 100%;
  width: 100%;
  font-weight: 400;
  border: none;
  border-radius: 0.4rem;
}

.field input,
.field select {
  outline: none;
  font-size: 1.3rem;
  padding: 1.1rem 1rem;
  border: 0.1rem solid var(--grid);
}

.field input:focus {
  border-bottom-width: 0.3rem;
}

.eye-icon,
.bx-chevron-down {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  color: var(--grey2);
  padding: 0.3rem;
  font-size: 2.5rem;
}

.form-link {
  text-align: center;
  margin-top: 2rem;
}

.form-link span,
.form-link a {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light-dark);
}

.form a {
  color: var(--primary);
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.field .btn {
  padding: 0;
}

/* .line {
  position: relative;
  height: 0.1rem;
  width: 100%;
  margin: 2rem 0;
  background-color: var(--grid);
} */

/* ============================================ account */
.account .content .form {
  box-shadow: none;
  margin-top: 20%;
}

.account .content form .field,
.order-detail .content form .field {
  height: 6rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  /* margin-bottom: 1.5rem; */
}
.account .content form .field input,
.order-detail .content form .field input {
  font-size: 1.5rem;
  border: none;
}

.account .content form .field input:focus,
.order-detail .content form .field input:focus,
.order-detail .content form .field .payment:focus {
  border: 0.1rem solid var(--primary);
}

.account .content form .reminder {
  margin-top: 1rem;
}

.account .content form span {
  font-size: 1.3rem;
  color: var(--light-dark);
}

.account .content form .btn-field {
  margin-top: 1.5rem;
}

.account .content form .btn-field .btn {
  padding: 1.5rem 0;
}

/* .account header,
.order .header,
.cart .header {
  left: 0;
}

.account .header a,
.order .header a,
.cart .header a {
  background: var(--light);
  margin-left: 0;
}

.account .title {
  margin-right: 25%;
} */

/* ============================================ select */

select {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0 !important;
  background-image: none;
  padding: 1rem;
  width: 100%;
}

.payment-box option {
  font-size: 1rem;
}

/* ============================================ order */
.order .title {
  margin-right: 35%;
}

/* ============================================ cart */
.cart .title {
  margin-right: 42%;
}

/* ============================================ toast */
.toast-box {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 75%;
  margin: 1rem;
}
.toast {
  background-color: red;
  min-width: 300px;
  /* min-height: 70px; */
  padding: 1rem;
  margin: 0.5rem;
  font-size: 2rem;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 80%;
  left: -100%;
  transition: all 0.5s;
}

.toast.account {
  min-width: 300px;
  position: absolute;
  padding: 0.5rem 1rem;
  margin: 10%;
  background: rgb(218, 238, 218);
  left: -100%;
}

.toast.active {
  left: 5%;
}

.toast.account.active {
  left: 0;
}

.bx-check,
.bx-x {
  position: absolute;
}

.bx-x {
  right: 10px;
  top: 15px;
}

.toast .message {
  color: var(--light);
}

.toast.account .message {
  color: var(--light-dark);
}

/* =========================================== added to cart toast */

.added-toast,
.success-toast,
.error-toast,
.received-toast,
.checkout-toast {
  position: absolute;
  top: -8%;
  left: 50%;
  min-width: 90%;
  max-width: 100%;
  transform: translateX(-50%);
  background: var(--light-green);
  color: var(--green);
  border-radius: 0.5rem;
  z-index: 999;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}

.error-toast {
  top: 100%;
  background-color: rgba(255, 0, 0, 0.164);
  color: red;
  min-width: 93%;
  max-width: 100%;
}

.received-toast,
.checkout-toast {
  /* top: clamp(15%, 8%, 20%); */
  top: clamp(-15%, -8%, -20%);
}

.success-toast {
  min-width: 86%;
  max-width: 100%;
}

.added-toast .message,
.success-toast .message {
  display: flex;
}

.added-toast .message p,
.success-toast .message p,
.error-toast .message p {
  margin-left: 0.5rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.error-toast .message .error-box {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.bx-check,
.bx-x {
  position: absolute;
  font-size: 3rem;
  color: var(--green);
  margin-right: 1.5rem;
}

.bx-x {
  color: red;
}

.bx-check,
.bx-x {
  right: 1rem;
  top: 1.7rem;
}

.added-toast.active,
.success-toast.active {
  position: fixed;
  top: 8%;
}

.error-toast.active {
  position: fixed;
  top: 8%;
}

.received-toast.active,
.checkout-toast.active {
  position: fixed;
  top: clamp(15%, 8%, 20%);
}
/* ===========================================media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }

  /* .total-container {
    padding-bottom: calc(10% + 2rem);
  } */

  .food-detail .image img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }

  .quantity-detail,
  .total-detail {
    margin: 2% 0;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--light);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: var(--grey);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .categories .box-container .box img {
    width: 100%;
    height: auto;
    padding: 6rem 40%;
  }

  .list .box-container .box img {
    width: 100%;
    height: auto;
  }

  /* .total-container {
    padding-bottom: calc(10% + 10%);
  } */
}
